/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, *:before, *:after{
  box-sizing: border-box;
}

body,html{
  font-family: "Microsoft JhengHei", "Helvetica Neue", Arial, sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}
img{
  display: block;
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.header{
  background: url(../images/banner.png) no-repeat center;
  width: 100%;
  height: 960px;
}
.headTitle-sm, .aboutText, .aboutText-sm{
  font-size: 24px;
  line-height: 42px;
  font-weight: 600;
  font-style: italic;
}
.headTitle-sm{
  color: #fff;
}
.headTitle h1{
  font-size: 80px;
  line-height: 94px;
  color: #fff;
  font-weight: 900;
  font-style: italic;
  margin-bottom: 32px;
}
.headTitle-link, .brand-imgs {
  display: flex;
  justify-content: space-between;
}
.pd10{
  padding: 0 10px;
}
.mb64{
  margin-bottom: 64px;
}
.mb8{
  margin-bottom: 8px;
}
.mb32{
  margin-bottom: 32px;
}
.mb48{
  margin-bottom: 48px;
}
.about{
  text-align: center;
  color: #000;
  margin-bottom: 56px;
}
.about h2{
  font-size: 64px;
  line-height: 75px;
  font-weight: 700;
  font-style: italic;
  margin-bottom: 40px;
}
.about img{
  margin: 0 auto 24px;
}
.aboutText-sm{
  line-height: 36px;
  margin-bottom: 24px;
  position: relative;
}
.aboutLine{
  width: 384px;
  height: 1px;
  background-color: #000;
  margin: 0 auto 32px;
}
.about li {
  position: relative;
}
.aboutText-md, .brand-text-md{
  font-size: 24px;
  line-height: 42px;
  font-weight: 600;
  font-style: italic;
  position: relative;
}
.brand-text-md{
  color: #fff;
}
.aboutText-md:before{
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  background: #891818;
  border-radius: 50%;
  left: -38px;
  margin: 11px 0px;
}
.brand{
  background: #000;
}
.brand h2, .work h2, .footer h2{
  font-size: 64px;
  line-height: 75px;
  font-style: italic;
  font-weight: 700;
}
.brand h2, .footer h2{
  color: #fff;
  margin-bottom: 16px;
  padding-top: 64px;
}
.brand-text-sm, .work-photos p, .work-title{
  font-size: 20px;
  line-height: 42px;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}
.brand-top{
  margin: 0 auto 40px;
}
.brand-imgs{
  padding-bottom: 160px;
}
.work{
  background: url(../images/photo-1561291386-5be50364cfb5.png) no-repeat center bottom;
}
.work h2{
  color: #000;
  margin-bottom: 24px;
}
.work-title{
  color: #000;
}
.work-photos{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.workPhotos-top{
  padding: 18px 0 58px 0;
}
.workPhotos-med{
  padding: 16px 0 56px 0;
}
.workPhotos-bottom{
  padding: 16px 0 160px 0;
}
.footer{
  background: #000;
  padding-bottom: 80px;
}
.footer p{
  font-size: 24px;
  line-height: 36px;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}
.contact-mail{
  margin-bottom: 16px;
}
